# README & HELP
HELP.md

# Gradle files
.gradle
api/build/
!api/gradle/wrapper/gradle-wrapper.jar
!api/**/src/main/**/build/
!api/**/src/test/**/build/

### STS ###
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache
api/bin/
!api/**/src/main/**/bin/
!api/**/src/test/**/bin/

### IntelliJ IDEA ###
api/.idea
api/*.iws
api/*.iml
api/*.ipr
api/out/
!api/**/src/main/**/out/
!api/**/src/test/**/out/

### NetBeans ###
api/nbproject/private/
api/nbbuild/
api/dist/
api/nbdist/
api/.nb-gradle/

### VS Code ###
api/.vscode/

### Environment variables ###
api/.env
